.job-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .job-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: calc(33.33% - 10px);
  }
  
  .job-card h3 {
    margin-top: 0;
  }
  
  .job-card p {
    margin: 10px 0;
    font-size: 14px;
  }
  
  @media screen and (max-width: 768px) {
    .job-card {
      width: 100%;
    }
  }
  